<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta lang="en-US">
        <title>Date and Time</title>
        <meta name="Some clocks." content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="{% static 'javascript.js' %}" async defer></script>
    </head>
    <body>
        <div id=wrapper>
            <h3>This page was last refreshed on:</h3>
            <h2>{{time}}</p>
        </div>
    </body>
</html>