<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Semi-Restful TV Shows</title>
        <meta name="description" content="This is a description.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="{% static 'javascript.js' %}" async defer></script>
    </head>
    <body>
        {% for show in show %}
        <div>
            <h1>Edit Show {{show.id}}</h1>
            <a href="/shows">Go Back</a>
        </div>
        <form action="update" method="post">
            {% csrf_token %}
            <p>Title: <input name="title" type="text" value="{{show.title}}"></p>
            <p>Network: <input name="network" type="text" value="{{show.network.name}}"></p>
            <p>Release Date: <input name="reldate" type="date" value="{{show.release_date | date:"Y-m-d"}}"></p>
            <p>Description: <input name="description" type="text" value="{{show.desc}}"></p>
            <button type="submit">Update</button>
        </form>
        <a href="/shows/{{show.id}}">Go to Show</a>
        {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
        {% endif %}
        {% empty %}
            <h1>ERROR: SHOW WITH SPECIFIED ID DOES NOT EXIST.</h1>
        {% endfor %}
    </body>
</html>